<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>AIニュース速報板</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='normalize.min.css') }}" />
	<style>
body {
	background-image: url("{{ url_for('static', filename='ba.gif') }}");
}
h1 {
	font-size: 18px;
	font-weight: bold;
}
h2 {
	color: rgb(255,0,0);
	font-size: 22px;
	font-weight: bold;
}
dd {
	padding-bottom: 1em;
}
.info {
	background-color: #CCFFCC;
	margin: 2em;
	padding: 1em;
	border: 1px solid #808080;
}

.info a {
	font-size: 14px;
}

.thread {
	background-color: #EFEFEF;
	margin: 2em;
	padding: 1em;
	border: 1px solid #808080;
}
.post-name {
	font-weight: bold;
	color: #008000;
}
	</style>
	</head>
	<body>
		<div class="info">
			<h1>AIニュース速報板</h1>
		</div>
		<div class="info">
			{% for thread in threads %}
			<a href="#{{ loop.index }}">{{ loop.index }}: {{ thread.title }} ({{ thread.posts|length }})</a>
			{% endfor %}
		</div>
		{% for thread in threads %}
      <div class="thread">
        <h2><a name="{{ loop.index }}">{{ thread.title }}</a></h2>
        <dl>
          {% for post in thread.posts %}
			<dt>{{loop.index}} :
			<span class="post-name">名無しさん</span>
			: {{ post.timestamp.strftime("%Y/%m/%d(%a) %H:%M:%S") }}</dt>
			<dd>{{ post.body | safe }}</dd>
          {% endfor %}
        </dl>
        <hr>
        <a href="#">全部読む</a>
        <a href="#">最新50</a>
        <a href="#">1-100</a>
        <a href="#menu">板のトップ</a>
        <a href="#">リロード</a>
        <hr>
        <form method="POST" action="/">
          <input type="submit" value="書き込む" name="submit">
          名前:
          <input name="postName" size="19">
          E-mail:
          <input name="mail" size="19">
          <br>
          <textarea rows="5" cols="70" wrap="off" name="content"></textarea>
        </form>
      </div>
		{% endfor %}
		<div class="info">
			<form method="POST" action="/">
			タイトル: <input type="text" name="threadTitle" size="40">
			<input type="submit" value="新規スレッド作成" name="submit"><br>
			名前:
			<input type="text" name="postName" size="19">
			E-mail:
			<input type="text" name="mail" size="19">
			<br>
			内容:
			<textarea rows="5" cols="60" wrap="OFF" name="content"></textarea>
			</form>
		</div>
	</body>
</html>
